In [41]:
# Load Pandas libraries with alias 'pd' 
import pandas as pd 
data1 = pd.read_csv("VerizonFinancialsCleaned.csv")
data2 = pd.read_csv("Telcom.csv") 
data1.head()

,Date,StockPrice,TTMNetEPS,TTMSalesperShare,PricetoSalesRatio,BookValueperShare,TTMFCFperShare,QuarterlyRevenue,GrossProfit,OperatingIncome,...,CurrentLiailities,CurrentAssetsInventory,QuickRatio,DebtToEquity Ratio,TTMNetIncome,LTInvestmentsDet,TotalAssets,CashOnHand,LongTermDebt,TotalLiabilities
0,6/30/2018,49.73,7.56,31.58,1.57,12.97,6.01,32203,18572,6617,...,32.33,29.77,0.92,2.04,26.40,162.75,263303,1750,109174,209728
1,3/31/2018,46.68,7.63,31.27,1.49,12.67,4.49,31772,18517,7349,...,31.62,29.74,0.94,2.15,27.80,165.08,264516,1923,112734,212171
2,12/31/2017,51.09,7.36,30.83,1.66,10.95,3.57,33955,19535,5230,...,33.04,28.88,0.87,2.54,27.41,158.33,257143,2079,113642,212456
3,9/30/2017,47.20,3.90,30.44,1.55,6.97,3.01,31717,19112,7208,...,28.93,29.59,1.02,4.05,30.21,143.77,254682,4487,115317,226231
4,6/30/2017,42.03,3.90,30.26,1.39,6.56,3.10,30548,18064,8014,...,27.76,27.71,1.00,4.35,29.54,143.15,252978,4583,116390,226217

In [42]:
data2.head()

,Date,CMCSA,VZ,TMUS,T,QCOM,QQQ,SPY,IXP,IYZ,IXTC
0,1/2/2013,17.399544,34.079788,15.774906,25.933586,54.459370,63.120499,130.419052,43.811684,21.551254,207.300003
1,1/3/2013,17.205305,33.918133,15.661067,25.948402,54.207047,62.791759,130.124420,43.533630,21.490324,206.350006
2,1/4/2013,17.196270,34.102890,15.823694,26.104004,53.408028,62.585098,130.695877,43.834229,21.681812,207.880005
3,1/7/2013,17.119488,34.403114,15.547228,26.222555,53.836983,62.603909,130.338715,43.924404,21.699221,207.619995
4,1/8/2013,17.236919,33.565914,15.173183,25.779766,53.752872,62.481808,129.963699,43.533630,21.368469,206.589996

In [43]:
#TEST ONE COLUMN
#Create new columns for daily lognormal return
import numpy as np
# normalize data with natural log of difference between each day
data2['Tlog']=np.log(data2.CMCSA/data2.CMCSA.shift(1))
data2.head()

,Date,CMCSA,VZ,TMUS,T,QCOM,QQQ,SPY,IXP,IYZ,IXTC,Tlog
0,1/2/2013,17.399544,34.079788,15.774906,25.933586,54.459370,63.120499,130.419052,43.811684,21.551254,207.300003,NaN
1,1/3/2013,17.205305,33.918133,15.661067,25.948402,54.207047,62.791759,130.124420,43.533630,21.490324,206.350006,-0.011226
2,1/4/2013,17.196270,34.102890,15.823694,26.104004,53.408028,62.585098,130.695877,43.834229,21.681812,207.880005,-0.000525
3,1/7/2013,17.119488,34.403114,15.547228,26.222555,53.836983,62.603909,130.338715,43.924404,21.699221,207.619995,-0.004475
4,1/8/2013,17.236919,33.565914,15.173183,25.779766,53.752872,62.481808,129.963699,43.533630,21.368469,206.589996,0.006836

In [44]:
data2.dtypes

Date      object
CMCSA    float64
VZ       float64
TMUS     float64
T        float64
QCOM     float64
QQQ      float64
SPY      float64
IXP      float64
IYZ      float64
IXTC     float64
Tlog     float64
dtype: object

In [45]:
#for comparison, let's compare this to a regular percentage return
#data2['CMSCAper']=np.log((data2.CMCSA.shift(1)-data2.CMCSA)/data2.CMCSA.shift(1)).dropna()
#data2.head()

In [46]:
# check for all rows with nan values
nan = data2[data2.isnull().any(axis=1)]
nan

,Date,CMCSA,VZ,TMUS,T,QCOM,QQQ,SPY,IXP,IYZ,IXTC,Tlog
0,1/2/2013,17.399544,34.079788,15.774906,25.933586,54.45937,63.120499,130.419052,43.811684,21.551254,207.300003,NaN

In [47]:
#Create new dataframe, copy dates, normalize all columns
#Perform lognormal transformation for rest of the data
# lognormal = percentage change per day, but can add or subtract cumulatively, unlike percentage
# multiple values x 100 in your head to get the "percentage"

data2norm = data2.filter(['Date'], axis=1)
data2norm['CMCSA']=np.log(data2.CMCSA/data2.CMCSA.shift(1))
data2norm['VZ']=np.log(data2.VZ/data2.VZ.shift(1))
data2norm['TMUS']=np.log(data2.TMUS/data2.TMUS.shift(1))
data2norm['T']=np.log(data2.CMCSA/data2.CMCSA.shift(1))
data2norm['QCOM']=np.log(data2.QCOM/data2.QCOM.shift(1))
data2norm['QQQ']=np.log(data2.QQQ/data2.QQQ.shift(1))
data2norm['SPY']=np.log(data2.SPY/data2.SPY.shift(1))
data2norm['IXP']=np.log(data2.IXP/data2.IXP.shift(1))
data2norm['IYZ']=np.log(data2.IYZ/data2.IYZ.shift(1))
data2norm['IXTC']=np.log(data2.IXTC/data2.IXTC.shift(1))

#check data
data2norm.head()

,Date,CMCSA,VZ,TMUS,T,QCOM,QQQ,SPY,IXP,IYZ,IXTC
1254,12/22/2017,-0.000735,0.003390,0.001573,-0.000735,0.005267,-0.001143,-0.000262,-0.001156,0.002717,-0.000353
1255,12/26/2017,0.000980,0.000564,0.002669,0.000980,-0.006665,-0.005416,-0.001197,0.001817,0.003386,-0.002295
1256,12/27/2017,-0.010095,0.001127,0.005004,-0.010095,0.003726,0.000128,0.000486,-0.000330,-0.002708,0.003323
1257,12/28/2017,-0.002974,0.002811,0.003737,-0.002974,-0.002482,0.001213,0.002055,0.002308,0.005746,0.001819
1258,12/29/2017,-0.005975,-0.009402,-0.013140,-0.005975,-0.005607,-0.006208,-0.003778,-0.003299,-0.008802,-0.007768

In [49]:
#Check dataframe for nan values
nan = data2norm[data2norm.isnull().any(axis=1)]
nan

       Date  CMCSA  VZ  TMUS   T  QCOM  QQQ  SPY  IXP  IYZ  IXTC
0  1/2/2013    NaN NaN   NaN NaN   NaN  NaN  NaN  NaN  NaN   NaN

In [52]:
# need to drop first row
data2norm.drop(data2norm.index[0])

,Date,CMCSA,VZ,TMUS,T,QCOM,QQQ,SPY,IXP,IYZ,IXTC
1,1/3/2013,-0.011226,-0.004755,-0.007243,-0.011226,-0.004644,-0.005222,-0.002262,-0.006367,-0.002831,-0.004593
2,1/4/2013,-0.000525,0.005432,0.010331,-0.000525,-0.014850,-0.003297,0.004382,0.006881,0.008871,0.007387
3,1/7/2013,-0.004475,0.008765,-0.017626,-0.004475,0.008000,0.000301,-0.002737,0.002055,0.000803,-0.001252
4,1/8/2013,0.006836,-0.024636,-0.024353,0.006836,-0.001564,-0.001952,-0.002881,-0.008936,-0.015360,-0.004973
5,1/9/2013,0.006791,-0.002323,0.006410,0.006791,0.015063,0.003751,0.002539,0.006024,0.002847,-0.003054
6,1/10/2013,0.002080,0.013628,0.035568,0.002080,-0.001542,0.005973,0.007918,0.010582,0.008896,0.006437
7,1/11/2013,-0.001040,-0.006675,-0.019720,-0.001040,0.001851,0.001339,-0.000068,-0.001869,-0.003226,0.005389
8,1/14/2013,0.011889,-0.016533,-0.003150,0.011889,-0.010221,-0.004470,-0.000680,-0.003749,-0.007703,0.013014
9,1/15/2013,0.007169,-0.014664,0.007334,0.007169,0.003109,-0.004941,0.000680,-0.007197,-0.010227,0.000189
10,1/16/2013,-0.000510,-0.011021,-0.026443,-0.000510,0.005417,0.004044,-0.000136,-0.008115,-0.003295,0.000899
11,1/17/2013,0.019462,0.014826,0.008538,0.019462,0.005387,0.004772,0.006439,0.006567,0.002472,0.000804
12,1/18/2013,0.007978,0.009685,-0.001063,0.007978,-0.007087,-0.002234,0.002227,0.002065,0.007380,0.002597
13,1/22/2013,-0.011489,0.009359,0.002125,-0.011489,0.000000,0.001639,0.005379,0.000344,0.010969,0.003295
14,1/23/2013,0.004761,-0.003499,0.012658,0.004761,0.003241,0.006084,0.001608,-0.000859,0.001211,-0.006932
15,1/24/2013,-0.010555,-0.004685,0.019720,-0.010555,-0.007580,-0.013855,0.000268,0.002405,0.001613,0.014516
16,1/25/2013,0.004537,0.001877,-0.002058,0.004537,-0.011557,0.005087,0.005606,0.002228,-0.002824,0.006045
17,1/28/2013,-0.004790,0.002341,0.005136,-0.004790,0.000157,0.002237,-0.001199,0.000684,0.002421,-0.002646
18,1/29/2013,-0.011693,0.016924,-0.001025,-0.011693,-0.003461,0.000148,0.003924,0.012072,0.005226,-0.009152
19,1/30/2013,-0.002048,0.002526,0.015267,-0.002048,0.001260,-0.002087,-0.003924,-0.002369,-0.010075,-0.011844
20,1/31/2013,-0.024641,0.000000,0.013046,-0.024641,0.038445,-0.002241,-0.002469,0.004058,0.011277,0.002891
21,2/1/2013,0.013563,0.021550,-0.014056,0.013563,0.010697,0.011745,0.010235,0.010573,0.007183,0.008343
22,2/4/2013,-0.010679,-0.000898,0.001011,-0.010679,-0.016469,-0.017594,-0.011304,-0.015309,-0.008786,0.001313
23,2/5/2013,0.027123,0.000898,-0.011173,0.027123,0.019761,0.014634,0.010047,0.001355,0.001203,0.017380
24,2/6/2013,-0.013082,0.004255,-0.009236,-0.013082,0.003430,-0.003267,0.000728,-0.001525,0.003200,0.003128
25,2/7/2013,-0.002844,-0.006501,0.008214,-0.002844,-0.009573,0.000892,-0.001324,-0.002376,-0.002399,0.002614
26,2/8/2013,0.003361,-0.002477,0.012195,0.003361,0.006143,0.010200,0.005549,0.002037,0.003596,0.000092
27,2/11/2013,-0.002843,-0.000677,0.020001,-0.002843,0.003430,0.000294,-0.000197,-0.002208,-0.004397,-0.002247
28,2/12/2013,0.008504,0.002704,0.004938,0.008504,-0.019389,-0.004125,0.001646,0.003733,-0.003210,-0.006678
29,2/13/2013,0.029332,0.001799,0.013699,0.029332,-0.006701,0.003537,0.000855,-0.007138,-0.002817,-0.003425
30,2/14/2013,0.005219,-0.004277,-0.004871,0.005219,0.001222,-0.000295,0.000920,-0.014604,-0.024894,-0.005254
...,...,...,...,...,...,...,...,...,...,...,...
1229,11/16/2017,-0.002963,0.014852,0.053408,-0.002963,0.007592,0.012698,0.008465,0.007723,0.016873,0.036978
1230,11/17/2017,-0.024854,0.014414,0.003672,-0.024854,0.009185,-0.003825,-0.002943,0.002391,0.012735,0.004253
1231,11/20/2017,-0.009168,0.017027,0.004654,-0.009168,-0.003754,-0.000780,0.001705,0.003745,0.002457,0.012773
1232,11/21/2017,0.016332,-0.000433,0.001823,0.016332,0.003004,0.010798,0.006521,-0.000340,0.009422,0.005551
1233,11/22/2017,-0.000274,0.019726,0.015440,-0.000274,0.021663,0.001221,-0.000885,0.009979,0.012770,-0.000548
1234,11/24/2017,-0.014942,-0.001913,0.005365,-0.014942,0.011384,0.003654,0.002307,0.006876,-0.000686,0.002887
1235,11/27/2017,-0.008961,0.013732,0.017677,-0.008961,-0.011237,-0.000448,-0.000499,-0.001505,0.004110,0.007286
1236,11/28/2017,0.019499,0.024048,-0.022552,0.019499,0.011916,0.002558,0.010094,0.009662,0.011215,0.011679
1237,11/29/2017,0.025601,0.021881,0.007305,0.025601,-0.027578,-0.017588,-0.000609,0.008912,0.015759,-0.004655
1238,11/30/2017,0.009367,0.019645,-0.012368,0.009367,-0.002710,0.008349,0.008717,0.004917,0.002658,-0.003536
1239,12/1/2017,0.023431,0.007049,-0.002788,0.023431,-0.012896,-0.004263,-0.002078,-0.002456,0.000663,0.001470
1240,12/4/2017,0.048009,0.009129,-0.010897,0.048009,-0.014302,-0.011589,-0.001211,0.004089,-0.000663,-0.002010
1241,12/5/2017,-0.020041,-0.015589,0.011881,-0.020041,0.002012,0.000655,-0.003603,-0.005237,-0.021802,-0.005421
1242,12/6/2017,-0.022778,-0.004724,0.018850,-0.022778,0.004473,0.004505,0.000190,-0.003287,-0.025761,0.001599
1243,12/7/2017,-0.019342,-0.005144,-0.003225,-0.019342,0.003840,0.003382,0.003148,0.002138,-0.005933,0.002409
1244,12/8/2017,0.001582,0.013201,0.009963,0.001582,-0.015293,0.004405,0.005438,0.005734,0.013213,0.005369
1245,12/11/2017,0.012829,0.014573,0.008439,0.012829,0.014527,0.007727,0.003009,0.003262,0.018820,0.008579
1246,12/12/2017,0.027455,0.025708,0.006480,0.027455,-0.004922,-0.001348,0.001763,0.009399,0.001693,-0.000771
1247,12/13/2017,-0.023820,-0.005656,0.005498,-0.023820,0.000617,0.001925,-0.000113,0.000806,0.010101,0.007010
1248,12/14/2017,0.013900,-0.010453,-0.020097,0.013900,-0.003087,-0.000705,-0.004095,-0.008091,-0.016552,-0.010876
1249,12/15/2017,0.014969,0.006285,0.001597,0.014969,0.000927,0.011291,0.008293,-0.005213,0.002042,0.003183
1250,12/18/2017,-0.004290,0.010952,0.012844,-0.004290,0.009528,0.008349,0.006321,0.008295,0.011490,0.009372
1251,12/19/2017,-0.010168,-0.007919,0.002675,-0.010168,-0.013551,-0.005943,-0.003848,-0.007805,-0.023803,-0.002858
1252,12/20/2017,0.006113,-0.001136,-0.011696,0.006113,0.001549,-0.001079,-0.000524,0.000979,0.006517,0.004417
1253,12/21/2017,0.035669,0.004538,0.009809,0.035669,-0.003256,0.000127,0.002057,0.004716,0.005115,-0.000088
1254,12/22/2017,-0.000735,0.003390,0.001573,-0.000735,0.005267,-0.001143,-0.000262,-0.001156,0.002717,-0.000353
1255,12/26/2017,0.000980,0.000564,0.002669,0.000980,-0.006665,-0.005416,-0.001197,0.001817,0.003386,-0.002295
1256,12/27/2017,-0.010095,0.001127,0.005004,-0.010095,0.003726,0.000128,0.000486,-0.000330,-0.002708,0.003323
1257,12/28/2017,-0.002974,0.002811,0.003737,-0.002974,-0.002482,0.001213,0.002055,0.002308,0.005746,0.001819
1258,12/29/2017,-0.005975,-0.009402,-0.013140,-0.005975,-0.005607,-0.006208,-0.003778,-0.003299,-0.008802,-0.007768

In [53]:
# create csv file of final data for future projects
data2norm.to_csv('TelcomNorm.csv')