In [13]:
# Load Pandas libraries with alias 'pd' 
import pandas as pd 
data1 = pd.read_csv("VerizonFinancialsCleaned.csv")
data2 = pd.read_csv("Telcom.csv") 
data1.head()

,Date,StockPrice,TTMNetEPS,TTMSalesperShare,PricetoSalesRatio,BookValueperShare,TTMFCFperShare,QuarterlyRevenue,GrossProfit,OperatingIncome,...,CurrentLiailities,CurrentAssetsInventory,QuickRatio,DebtToEquity Ratio,TTMNetIncome,LTInvestmentsDet,TotalAssets,CashOnHand,LongTermDebt,TotalLiabilities
0,12/31/2006,19.46,2.12,29.96,0.65,16.67,6.23,22606,13454,3444,...,32.28,21.02,0.65,0.59,13.37,77.18,188804,5653,28646,140269
1,3/31/2007,20.04,2.07,30.56,0.66,16.80,5.66,22584,13672,3796,...,27.91,16.11,0.58,0.58,13.99,76.86,184284,3450,28073,135502
2,6/30/2007,21.98,2.10,31.14,0.71,17.17,5.41,23273,14042,4149,...,24.45,15.24,0.62,0.59,14.93,79.21,184760,2356,29374,134929
3,9/30/2007,23.88,1.88,31.66,0.75,17.19,4.96,23772,14164,4210,...,24.16,15.25,0.63,0.59,15.60,79.07,185619,1909,29383,135930
4,12/31/2007,23.78,1.90,32.18,0.74,17.58,5.78,23840,14044,3423,...,24.74,16.97,0.69,0.56,15.58,78.78,186959,3397,28203,136378

In [14]:
data2.head()

,Date,CMCSA,VZ,TMUS,T,QCOM,QQQ,SPY,IXP,IYZ,IXTC
0,1/2/2013,17.399544,34.079788,15.774906,25.933586,54.459370,63.120499,130.419052,43.811684,21.551254,207.300003
1,1/3/2013,17.205305,33.918133,15.661067,25.948402,54.207047,62.791759,130.124420,43.533630,21.490324,206.350006
2,1/4/2013,17.196270,34.102890,15.823694,26.104004,53.408028,62.585098,130.695877,43.834229,21.681812,207.880005
3,1/7/2013,17.119488,34.403114,15.547228,26.222555,53.836983,62.603909,130.338715,43.924404,21.699221,207.619995
4,1/8/2013,17.236919,33.565914,15.173183,25.779766,53.752872,62.481808,129.963699,43.533630,21.368469,206.589996

In [15]:
#TEST ONE COLUMN
#Create new columns for daily lognormal return
import numpy as np
# normalize data with natural log of difference between each day
np.log(data2.CMCSA/data2.CMCSA.shift(1)).head()

0         NaN
1   -0.011226
2   -0.000525
3   -0.004475
4    0.006836
Name: CMCSA, dtype: float64

In [16]:
data2.dtypes

Date      object
CMCSA    float64
VZ       float64
TMUS     float64
T        float64
QCOM     float64
QQQ      float64
SPY      float64
IXP      float64
IYZ      float64
IXTC     float64
dtype: object

In [5]:
#for comparison, let's compare this to a regular percentage return
#data2['CMSCAper']=np.log((data2.CMCSA.shift(1)-data2.CMCSA)/data2.CMCSA.shift(1)).dropna()
#data2.head()

In [17]:
# check for all rows with nan values
nan = data2[data2.isnull().any(axis=1)]
nan

Empty DataFrame
Columns: [Date, CMCSA, VZ, TMUS, T, QCOM, QQQ, SPY, IXP, IYZ, IXTC]
Index: []

In [46]:
#Create new dataframe, copy dates, normalize all columns
#Perform lognormal transformation for rest of the data
# lognormal = percentage change per day, but can add or subtract cumulatively, unlike percentage
# multiple values x 100 in your head to get the "percentage"

data2norm = data2.filter(['Date'], axis=1)
data2norm['CMCSA']=np.log(data2.CMCSA/data2.CMCSA.shift(1))
data2norm['VZ']=np.log(data2.VZ/data2.VZ.shift(1))
data2norm['TMUS']=np.log(data2.TMUS/data2.TMUS.shift(1))
data2norm['T']=np.log(data2.CMCSA/data2.CMCSA.shift(1))
data2norm['QCOM']=np.log(data2.QCOM/data2.QCOM.shift(1))
data2norm['QQQ']=np.log(data2.QQQ/data2.QQQ.shift(1))
data2norm['SPY']=np.log(data2.SPY/data2.SPY.shift(1))
data2norm['IXP']=np.log(data2.IXP/data2.IXP.shift(1))
data2norm['IYZ']=np.log(data2.IYZ/data2.IYZ.shift(1))
data2norm['IXTC']=np.log(data2.IXTC/data2.IXTC.shift(1))

#check data
data2norm.head()

,Date,CMCSA,VZ,TMUS,T,QCOM,QQQ,SPY,IXP,IYZ,IXTC
0,1/2/2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/3/2013,-0.011226,-0.004755,-0.007243,-0.011226,-0.004644,-0.005222,-0.002262,-0.006367,-0.002831,-0.004593
2,1/4/2013,-0.000525,0.005432,0.010331,-0.000525,-0.014850,-0.003297,0.004382,0.006881,0.008871,0.007387
3,1/7/2013,-0.004475,0.008765,-0.017626,-0.004475,0.008000,0.000301,-0.002737,0.002055,0.000803,-0.001252
4,1/8/2013,0.006836,-0.024636,-0.024353,0.006836,-0.001564,-0.001952,-0.002881,-0.008936,-0.015360,-0.004973

In [36]:
#Check dataframe for nan values
nan = data2norm[data2norm.isnull().any(axis=1)]
nan

       Date  CMCSA  VZ  TMUS   T  QCOM  QQQ  SPY  IXP  IYZ  IXTC
0  1/2/2013    NaN NaN   NaN NaN   NaN  NaN  NaN  NaN  NaN   NaN

In [48]:
# need to drop first row
# reset index numbers
data2norm=data2norm.drop(data2norm.index[0])
data2norm.index  = range(len(data2norm.index))
data2norm.head()

,Date,CMCSA,VZ,TMUS,T,QCOM,QQQ,SPY,IXP,IYZ,IXTC
0,1/4/2013,-0.000525,0.005432,0.010331,-0.000525,-0.014850,-0.003297,0.004382,0.006881,0.008871,0.007387
1,1/7/2013,-0.004475,0.008765,-0.017626,-0.004475,0.008000,0.000301,-0.002737,0.002055,0.000803,-0.001252
2,1/8/2013,0.006836,-0.024636,-0.024353,0.006836,-0.001564,-0.001952,-0.002881,-0.008936,-0.015360,-0.004973
3,1/9/2013,0.006791,-0.002323,0.006410,0.006791,0.015063,0.003751,0.002539,0.006024,0.002847,-0.003054
4,1/10/2013,0.002080,0.013628,0.035568,0.002080,-0.001542,0.005973,0.007918,0.010582,0.008896,0.006437

In [49]:
# create data sets for comparison to indices
# compares normalized data only (not price)
data2Comp = data2norm.filter(['Date'], axis=1)
# QQQ
data2Comp['CMSCA-QQQ'] = data2norm['CMCSA']-data2norm['QQQ']
data2Comp['VZ-QQQ'] = data2norm['VZ']-data2norm['QQQ']
data2Comp['TMUS-QQQ'] = data2norm['TMUS']-data2norm['QQQ']
data2Comp['T-QQQ'] = data2norm['T']-data2norm['QQQ']
data2Comp['QCOM-QQQ'] = data2norm['CMCSA']-data2norm['QQQ']
# SPY
data2Comp['CMSCA-SPY'] = data2norm['CMCSA']-data2norm['SPY']
data2Comp['VZ-SPY'] = data2norm['VZ']-data2norm['SPY']
data2Comp['TMUS-SPY'] = data2norm['TMUS']-data2norm['SPY']
data2Comp['T-SPY'] = data2norm['T']-data2norm['SPY']
data2Comp['QCOM-SPY'] = data2norm['CMCSA']-data2norm['SPY']
# IXP
data2Comp['CMSCA-IXP'] = data2norm['CMCSA']-data2norm['IXP']
data2Comp['VZ-IXP'] = data2norm['VZ']-data2norm['IXP']
data2Comp['TMUS-IXP'] = data2norm['TMUS']-data2norm['IXP']
data2Comp['T-IXP'] = data2norm['T']-data2norm['IXP']
data2Comp['QCOM-IXP'] = data2norm['CMCSA']-data2norm['IXP']
# IYZ
data2Comp['CMSCA-IYZ'] = data2norm['CMCSA']-data2norm['IYZ']
data2Comp['VZ-IYZ'] = data2norm['VZ']-data2norm['IYZ']
data2Comp['TMUS-IYZ'] = data2norm['TMUS']-data2norm['IYZ']
data2Comp['T-IYZ'] = data2norm['T']-data2norm['IYZ']
data2Comp['QCOM-IYZ'] = data2norm['CMCSA']-data2norm['IYZ']
# IXTC
data2Comp['CMSCA-IXTC'] = data2norm['CMCSA']-data2norm['IXTC']
data2Comp['VZ-IXTC'] = data2norm['VZ']-data2norm['IXTC']
data2Comp['TMUS-IXTC'] = data2norm['TMUS']-data2norm['IXTC']
data2Comp['T-IXTC'] = data2norm['T']-data2norm['IXTC']
data2Comp['QCOM-IXTC'] = data2norm['CMCSA']-data2norm['IXTC']
data2Comp.head()

,Date,CMSCA-QQQ,VZ-QQQ,TMUS-QQQ,T-QQQ,QCOM-QQQ,CMSCA-SPY,VZ-SPY,TMUS-SPY,T-SPY,...,CMSCA-IYZ,VZ-IYZ,TMUS-IYZ,T-IYZ,QCOM-IYZ,CMSCA-IXTC,VZ-IXTC,TMUS-IXTC,T-IXTC,QCOM-IXTC
0,1/4/2013,0.002771,0.008729,0.013627,0.002771,0.002771,-0.004907,0.001050,0.005949,-0.004907,...,-0.009396,-0.003439,0.001460,-0.009396,-0.009396,-0.007912,-0.001955,0.002943,-0.007912,-0.007912
1,1/7/2013,-0.004776,0.008464,-0.017927,-0.004776,-0.004776,-0.001739,0.011501,-0.014890,-0.001739,...,-0.005278,0.007962,-0.018429,-0.005278,-0.005278,-0.003223,0.010017,-0.016375,-0.003223,-0.003223
2,1/8/2013,0.008788,-0.022684,-0.022400,0.008788,0.008788,0.009717,-0.021755,-0.021471,0.009717,...,0.022196,-0.009276,-0.008993,0.022196,0.022196,0.011809,-0.019663,-0.019379,0.011809,0.011809
3,1/9/2013,0.003040,-0.006074,0.002659,0.003040,0.003040,0.004252,-0.004862,0.003872,0.004252,...,0.003944,-0.005170,0.003563,0.003944,0.003944,0.009845,0.000731,0.009464,0.009845,0.009845
4,1/10/2013,-0.003892,0.007655,0.029596,-0.003892,-0.003892,-0.005838,0.005709,0.027650,-0.005838,...,-0.006816,0.004731,0.026672,-0.006816,-0.006816,-0.004356,0.007191,0.029132,-0.004356,-0.004356

In [50]:
# create csv file of final data for future projects
data2norm.to_csv('TelcomNorm.csv')
data2Comp.to_csv('TelecomComparison.csv')